@tailwind base;
@tailwind components;
@tailwind utilities;

#logo
{
  margin-top:20px;
}

#headline
{
  text-align: center;
}
#formID {
  max-width: 420px;
  margin: auto;
  background: grey;
  text-align: left;
  padding: 5px;
  border-radius: 15px;
}

#td {
  min-width: 300px;
}

table {
    font-family: 'Open Sans', sans-serif;
    width: 750px;
    border-collapse: collapse;
    border: 3px solid #44475C;
    margin-left: auto;
    margin-right: auto;
  }
  
table th {
  text-align: center;
  background: #44475C;
  color: #FFF;
  padding: 8px;
  min-width: 30px;
}

table td {
  text-align: center;
  padding: 8px;
  border-left: 2px solid #7D82A8;
  border-top: 2px solid #7D82A8;
}


label {
  color: black;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 1.0em;
  letter-spacing: 1px;
  font-weight: bold;
}

input {
  display: block;
  padding: 10px 6px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ddd;
  color: #555;
}

.submit {
  text-align: center;
  padding-top: 15px;
}
.submit :hover {
  background-color: lightgrey;
  transition: 0.7s;
}

.alert {
  padding: 15px;
  border-radius: 15px;
  background-color: rgb(153, 240, 96);
  color: black;
}

.error {
  background-color: lightcoral;
  color: black;
}

.openai-link {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}